* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  background-image: url("../img/wall.png");
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  height: 200px;                
  display: flex;
  align-items: center;
  justify-content: center;
}

.titolo {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 90px;
}

main {
  background-image: url("../img/cork.png");
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  min-height: 100vh;
  padding: 40px 0;
  display: block                
}

.card {
    max-width: 320px;
    border: 20px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    margin: 20px 20px;
    background: #fff;
  }

  .card img.main-img {
    width: 100%;
    height: auto;
    max-width: 300px;
    display: block;
  }

  
  .card img.top-icon {
    width: 50px; 
    height: 50px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

.card-text {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #4b49498a;
}

.card h3 {
  text-transform: uppercase;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.overlay {
  position: fixed;        
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;          
  justify-content: center;
  align-items: center;
  z-index: 1000;          
}

.hidden {
  display: none !important;
}

.overlay-content {
  text-align: center;
  max-width: 90%;
}

.overlay-content img {
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.overlay-content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}