header {
  background-image: url("../img/wall.png");
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  height: 200px;                
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  background-image: url("../img/cork.png");
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;                
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


